<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>server error</title>
    {% load staticfiles %}
    <link rel="icon" href="{% static "images/title.ico" %}" type="image/x-icon" />
    <link rel="shortcut icon" href="{% static "images/title.ico" %}" type="image/x-icon" />
    <link href="{% static "login-register.css" %}" rel="stylesheet" />
</head>
<body class="not_found">

    <p class="p404">
        5 0 0 <br/> Server Error <br/>
    </p>
    <p class="beginning">
        move to the very <a class="move" href="/">beginning</a>
    </p>


</body>
</html>