<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
    <title>Face Master</title>
    {% load staticfiles %}
	<meta name="description" content="face recognition">
	<meta name="author" content="frank">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="{% static "css/main.css" %}">
   <link rel="stylesheet" href="{% static "css/my.css" %}">

   <!-- icons
	================================================== -->
	<link rel="icon" href="{% static "images/title.ico" %}" type="image/x-icon" />
    <link rel="shortcut icon" href="{% static "images/title.ico" %}" type="image/x-icon" />


</head>
<body class="main" id="top">
<div class="top">
    <div class="tubiao">
        <a class="" href="/main/"><img class="tubiao" src="{% static "images/tubiao.png"%}"
                              onmouseover="this.src='{% static "images/tubiao2.png"%}'"
                              onmouseout="this.src='{% static "images/tubiao.png"%}'"/></a>
    </div>
    <a class="top_a" href="/main/">PHOTOS</a>
    <a class="top_a1" href="/main/faces/">PEOPLE</a>
    <a class="top_a2" href="javascript:upload_2()">UPLOAD</a>

    <form id="file_form" action="{% url 'main:upload' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <input type="file" name="newpics" class="file" onchange="upload()" multiple="" accept=".jpg,.png,.gif,.jpeg"/>
    </form>



    <a id="header-menu-trigger" href="">
		  	<span class="header-menu-icon"></span>
		</a>

		<nav id="menu-nav-wrap">

			<a href="" class="close-button" title="close"><span>Close</span></a>

	   	<h3>Face Master</h3>

			<ul class="nav-list">
				<li><a class="smoothscroll" href="/main/account/" title="">ACCOUNT</a></li>
                <li><a class="smoothscroll" href="/main/" title="">PHOTOS</a></li>
				<li><a class="smoothscroll" href="/main/faces/" title="">PEOPLE</a></li>
				<li><a class="smoothscroll" href="javascript:upload_2()" title="">UPLOAD</a></li>
				<li><a class="smoothscroll" href="/main/about/" title="">ABOUT AND FEEDBACK</a></li>
			</ul>

		</nav>

</div>




<div class="pic_container1">


{% if not send_pics %}
    <div class="welcome_d">
    <p class="welcome">
    Your album is empty, <a class="upload_t" href="javascript:upload_2()">upload</a> some photos to see the magic of face recognition technology
    </p>
    </div>

{% endif %}

    {% for send_pic in send_pics %}
        <div class="date_main">
        <p class="date">{{ send_pic.date| date:"M j /Y"   }}</p>
        </div>

        <div class="pic_of_date">
        {% for pic in send_pic.pics_date %}


            <a href="/main/pic/{{ pic }}"><img class="pics_main" data-original="/PIC/{{ pic }}" alt=""></a>


        {% endfor %}
        </div>

    {% endfor %}

</div>









<div id="go-top">
		   <a class="smoothscroll_1" title="Back to Top" href="#top">
               <img src="{% static "images/gotop.png"%}"/>
		   </a>
		</div>

<script src="{% static "js/jquery-2.1.3.min.js" %}"></script>
<script src="{% static "js/jquery.lazyload.js" %}"></script>
<script src="{% static "js/plugins.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>

<script>
        $('.pic_container1').height(816 + 'px');
</script>

<script>
    $(document).ready(
    function($){
    $("img.pics_main").lazyload({
         effect      : "fadeIn",
		 data_attribute : 'original',
		 effectspeed : 800
    });
    });
</script>

</body>
</html>
